/*-----------------------------------------------------------------------------
Arctic Ice - Based on mzingi by Michael Bishop (http://bloggingmeta.com/mzingi)
Version:	0.62
Author:	Richard Cockrum
Email:	rickcockrum@gmail.com
Website:	http://sagrising.cockrumpublishing.com/
-----------------------------------------------------------------------------*/


/* =Resets 
-----------------------------------------------------------------------------*/
/* Remove padding and margin */
* { 
	margin: 0;
	padding: 0;
}

/* Put it back on certain elements */
h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, fieldset, table, ul {
  margin: .5em 0;
}

/* Preset new html5 tags for a block display */
article, aside, footer, header, nav, section {
	display: block;
}

em {
	font-style: italic;
}

strong {
	font-weight: 700;
}

blockquote {
	border: 1px solid #ddd;
	padding: 0.5em 1em;
	font-style: italic;
	background: #F5F5F5;
	clear: both;
	margin: 0.5em;
}

code {
	font: 0.9em "Courier New", Courier, Monospace;
	color: #449;
}

/* =Forms
-----------------------------------------------------------------------------*/

/* Removes fieldset borders. even on Opea 7 */
fieldset {
  border: 1px solid transparent;
}

/* =Tables
-----------------------------------------------------------------------------*/

table { 
  border-spacing: 0;
	border-collapse: collapse;
}

td {
  text-align: left;
	font-weight: normal;
}

.right {
	float: right;
	margin-left: 0.5em;
}

.left {
	float: left;
	margin-right: 0.5em;
}

img.right  {
	padding: 0.3em;
	margin-left: 0.8em;
}

img.left {
	padding: 0.3em;
	margin-right: 0.8em;
}

/* Class for clearing floats */
.clear {
	clear:both;
}

/* define inline elements as block */

.block {
	display: block;
}

/* define block elements as inline */
.inline {
	display: inline;
}

/* Remove border around linked images */
img {
	border: 0;
}


/* =Typography
-----------------------------------------------------------------------------*/

body {
	font-size: 62.5%; 
	font-family: Verdana, Arial, sans-serif;
	color: #000;
	text-align: center;
}

#wrapper {
	text-align: left;
}

#masthead {
	text-align: left;
}

#content {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.3em;
	line-height: 1.5;
	color: #222;
	text-align: left;
}

.entry {
	font-size: 1.2em;
	line-height: 1.5;
	text-align: left;
	color: #444;
}


/* =Structure
-----------------------------------------------------------------------------*/

body {
	background: #fff;
}

#wrapper {
	width: 76em;
	margin: 0 auto;
	background: #fff;
}

#masthead {
	display: none;
}


#content {
	width: 40em;
	padding: 4em 2em 0 0;
}

#secondary {
	display: none;
}

#footer {
	display: none;
}

/* =Headings
-----------------------------------------------------------------------------*/


h1 {
	font-size: 1.8em;
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
	color: #666;
}

h2 {
	color: #666;
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
	font-size: 1.6em;
}

h3 {
	color: #666;
	font-size: 1.4em;
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
}

h4 {
	color: #666;
	font-size: 1.3em;
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
}

h5 {
	color: #666;
	font-size: 1.2em;
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
}

h6 {
	color: #666;
	font-size: 1.1em;
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
}


.site {

}

.aside {

}

.commentheading {

}


/* =Links
-----------------------------------------------------------------------------*/

#content h1 a {
	color:#22b;
	text-decoration: none;
}
#content h1 a:hover {
	color: #b22;
	text-decoration: none;
}

a:link {
	color: #22b;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #b22;
}

a:active {
	color: #fff;
}

a:visited {
	text-decoration: none;
}

ul#tidbits a {
	text-decoration: none;

}

/* =Primary Content
-----------------------------------------------------------------------------*/

.entry {
	clear: both;
	text-align: left;
}

.entry ul {
	padding-left: 2.0em;
}

.entry ul ul{
	list-style-type: square;
}

.entry ul ul, .entry ul ol {
	padding-left: 2.0em;
}

.entry ol {
	padding-left: 2.0em;
}

.entry ol ol, .entry ol ul {
	padding-left: 2.0em;
}

.entry li {
	padding-bottom: 0.4em;
}

.entryMeta {
	display: none;
}

.pubMeta {
	display: none;
}

.sitemap {
	list-style-type: none;
	padding: 0 5em 2em 5em;
	font-size: 1.1em;
}

.meta {
	clear: both;
	margin: 1em 1em;
	font-size: 0.9em;
	padding: 1.5em 0;
}

.edit {
	float: left;
	padding-bottom: 1em;
	width: 100%;
}

.commentCount {
	float:  right;
}

.tags {
	float: left;
}

.draft {
	background: #f5f5f5;
}

.scheduled {
	background: #f5f5f5;
}

blockquote.right {
	clear: right;
	float: right;
	background: #f5f5f5;
	font-style: italic;
	padding: 0.4em;
	margin: 0.5em 0 0.5em 0.5em;
	border: 1px solid #ddd;
	width: 15em;
}

blockquote.left {
	clear: left;
	float: left;
	background: #f5f5f5;
	font-style: italic;
	padding: 0.4em;
	margin: 0.5em 0.5em 0.5em 0;
	border: 1px solid #ddd;
	width: 15em;
}

#pagenav {
	display: none;
}

.postnav {
	display: none;
}


/*Comments-----------------------------------------------------------------------------*/

#comments {
	padding-top: 2.0em;
}

#pings {
	margin:15px 0 2.5em 0;
}

.ping-meta {
	background: #dedff1;
	border: 1px solid #ccc;
	padding: 0.4em;
	margin-bottom: 1.5em;
}

.comment {
	margin-bottom: 1.5em;
}

.comment-unapproved {
	margin-bottom: 1.5em;
}

.comment-content {
	border: 1px solid #ccc;
	padding: 0.4em;
	background: #f5f5f5;
}

.comment-meta { 
	background: #dedff1;
	border: 1px solid #ccc;
	padding: 0.4em;
}

/* Comment Form - heavily leaned on code from Andy Budd's book CSS Mastery, re-used with permission from author */
/* fieldset styling */
#comments_form {
	display: none;
}

/* style for  labels */
label {
	float: left;
	width: 20em;
}
input {
  width: 25em;
}

input[type="text"], textarea {
	border-top: 2px solid #999;
	border-left: 2px solid #999;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
input.submit {
	width: 10em;
	background: #ebf5fc url('images/menubg.jpg');
}

/* style form elements on focus */
input:focus, textarea:focus {
	background: #f5f5f5;
}
input.submit:focus {
	background: #d4ecfb url('images/menubg.jpg');
}

textarea {
	width: 35em;
	height: 20em;
}

.no-print {
	display: none;
}