/* NOTE: IE hacks are leading with two asterisk. */

/* Reset CSS v1.0 | 20080212 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{background:transparent;border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}:focus{outline:0;}ins{text-decoration:none;}del{text-decoration:line-through;}table{border-collapse:collapse;border-spacing:0;}

/* Layout */
body{text-align:center;}
#container{width:60em;margin:0 auto;text-align:left;border-top:.7em solid #f2f5d7;}
#content{width:44em;margin:0 auto;float:left;overflow:hidden;}
#sidebar{margin:3.5em 0 0 53em;width:15.5em}
#footer{clear:both;padding:3.6em 0 4.8em 12em;}

/* Colors */
a:link{color:#0075b8;}
a:visited{color:#5f81b1;}
a:hover{color:#e63d16;}
a:active,a:focus{color:#c8693b;}

/* Typography */
body{color:#000;line-height:1.4;font-family:Calibri,"Segoe UI",Tahoma,"Microsoft JhengHei","Microsoft YaHei","Meiryo",sans-serif;**font-family:"Microsoft JhengHei","Microsoft YaHei","Meiryo",Calibri,"Segoe UI",Tahoma,sans-serif;}
a{text-decoration:none;}
h1,h2,h3,h4,h5,h6,#site-name,#nav,div.entry-date,div.download{line-height:1;text-align:left;}
h1,h2,h3,h4,h5,h6{font-weight:700;}
h1{font-size:4.2em;letter-spacing:-.05em;margin:.5em 0 0;}
h2,.entry-title{font-size:2.8em;letter-spacing:-.05em;margin:1em 0 0;}
h3,h4{font-size:1.8em;margin:.25em 0 -.125em;}
h5,h6{font-size:1.4em;margin:.5em 0 -.25em;}
sub,sup{font-size:.7em;line-height:1;}
sub{vertical-align:sub;}
sup{vertical-align:super;}
em{font-style:italic;}
strong{font-weight:700;}
input,button,select,option,textarea{font:1em Calibri,"Segoe UI",Tahoma,sans-serif;display:block;}
code{font-family:Consolas,"Bitstream Vera Sans Mono",Monaco,"Courier New","Microsoft JhengHei","Microsoft YaHei","Meiryo",monospace;}
.alt{font-style:italic;}

	/* Google Code Prettify */
	pre.prettyprint{overflow:auto;padding:.7em !important;border:0 !important;}
	pre.prettyprint code{font-size:.875em;line-height:1.2;}

/* Header */
body.home #header{margin:0 0 0 12em;}

	/* Navigation */
	#nav{margin:1.4em 0 0;}
	body.home #nav li,#site-name ul,#site-name li{display:inline;padding:0 1em 0 0;}
	body.home #nav a,#site-name li a{padding:0 0 0 1.4em;}
		body.home #nav li.nav-home a{background:url(images/nav-home.png) no-repeat 0 50%;}
		body.home #nav li.nav-archives a,#site-name li.nav-archives a{background:url(images/nav-archives.png) no-repeat 0 50%;}

/* Content */
	/* Content Type */
	#content div.hentry.draft{background:url(images/type-draft.png) 50% 50%;}
	#content div.hentry.private{background:url(images/type-private.png) 50% 50%;}
	#content div.hentry.scheduled{background:url(images/type-scheduled.png) 50% 50%;}

	/* Entry */
	.entry-title,#comments h2,#respond h2{border-bottom:.5em solid #e6f0f7;padding:0 0 .2em 4.2857em;}
	#content .entry-meta{font-size:.875em;padding:0;margin:.8em 0;width:11.4285em;float:left;}
		#content .entry-meta li{list-style-type:none;padding:0 0 0 1.6em;}
		li.entry-date{background:url(images/entry-date.png) no-repeat 0 .1286em;}
		li.entry-time{background:url(images/entry-time.png) no-repeat 0 .1286em;}
		li.comments-link{background:url(images/comments-link.png) no-repeat 0 .1286em;}
		li.entry-tags{background:url(images/entry-tags.png) no-repeat 0 .1286em;}
		li.entry-edit{background:url(images/entry-edit.png) no-repeat 0 .1286em;}
	.entry-content{margin-left:12em;}
	.entry-content div img{border:5px solid #222;}

		/* Footnote */
		.footnotes{font-size:.875em;padding:2.4em 0 0;}
		.footnotes hr{text-align:left;width:66%;}

		/* Downloads */
		div.download{background:#f6f6f6 url(images/download.png) no-repeat 1em 50%;border:2px solid #ddd;margin:.7em 2em;padding:1em 1em 1em 4em;text-align:left;}
			div.download a{font-size:1.5em;line-height:1.125;display:block;margin-left:-2em;padding-left:2em;}

	/* Block Element */
	#content p{text-align:justify;}
	#content hr{display:block;background:#e6f0f7;color:#e6f0f7;float:none;height:.143em;border:none;clear:right;}
	#content p,#content img,#content ul,#content ol,#content table,#content pre,#content hr{margin:.7em 0;}
	#content blockquote{padding:.4em;margin:.7em 2em;border-left:.143em solid #5f81b1;background:#f3f3f3;}
	#content blockquote p,#content li p{margin:0;}

		/* List */
		#content ul,#content ol{padding:0 0 0 2.3625em;}
		#content ul,#content ol ul,#content ol ol ul,#content ol ol ol ul{list-style-type:square;}
		#content ul ul,#content ol ul ul,#content ul ol ul,#content ol ol ul ul,#content ol ul ol ul,#content ul ol ol ul{list-style-type:disc;}
		#content ul ul ul,#content ul ul ol ul,#content ul ol ul ul,#content ol ul ul ul,#content ul ul ul ul{list-style-type:circle;}
		#content ol,#content ul ol,#content ul ul ol,#content ul ul ul ol{list-style-type:decimal;}
		#content ol ol,#content ol ul ol,#content ul ol ol,#content ul ul ol ol,#content ul ol ul ol,#content ol ul ul ol{list-style-type:lower-alpha;}
		#content ol ol ol,#content ol ol ul ol,#content ol ul ol ol,#content ul ol ol ol{list-style-type:lower-roman;}
		#content ol ol ol ol{list-style-type:lower-greek;}

	/* Comments */
	#comments,#respond{clear:both;padding:.01px 0 0;}
	#comments ol,#comments ul{padding:0;margin:0;}
	#comments li{list-style-type:none;}
	li.comment,li.comment-unapproved{float:left;width:41.2em;**width:44em;clear:both;padding:1.4em;margin:.7em 0;-moz-border-radius:.4em;-webkit-border-radius:.4em;border-radius:.4em;}
	li.even{background:#f3f3f3;}
	li.author{background:#f2f5d7;}
	ul.comment-meta{float:left;font-size:.875em;padding:0;width:11.4285em;margin:.8em 0;}
	#comments li.comment-author-gravator img{width:32px;height:32px;border:.2571em solid #fff;background:#fff;margin:0}
	li.comment-author-gravator{float:left;width:3.3em;}
	li.comment-author cite{font-style:normal;font-weight:700;}
	li.comment-date a{font-size:.75em;text-transform:uppercase;color:#666;}
	div.comment-content{width:30.6em;float:right;}

	/* Respond */
	#commentform{margin:.8em 0;}
	#commentform div.commenter-info{width:11.2em;float:left;}
	#commentform div.response-content{margin:0 0 0 12em;}
	#commentform input,#commentform textarea{border:solid 1px #ddd;background-color:#fff;margin:0 0 .8em;}
	#commentform input:focus,#commentform textarea:focus{border:solid 1px #0075b8;background-color:#e6f0f7;}
	#commentform input{padding:.5em .3em .5em 1.6em;width:9.15em;**width:11.2em;**height:2.4em}
		#name{background:#fff url(images/commentor-name.png) no-repeat .3em 50%;}
		#email{background:#fff url(images/commentor-email.png) no-repeat .3em 50%;}
		#url{background:#fff url(images/commentor-url.png) no-repeat .3em 50%;}
		#message{padding:.5em;width:30.9em;**width:31.8em;height:7.43em;**height:9em;}
		#commentform p.moderation-notice{margin:0 0 0 12em;}
		#submit_feedback{width:6em;}

	/* Pager */
	#pager,#page-selector{margin:2.4em 0 2.4em 12em;}
	#page-selector a{padding:0 .4em;border:1px solid transparent;}
	#page-selector a.current-page{border:1px solid #0075b8;background:#e6f0f7;}
	#pager a.previous{background:url(images/pager-previous.png) no-repeat 0 .2em;padding:0 0 0 1.2em;float:left;}
	#pager a.next{background:url(images/pager-next.png) no-repeat 100% .2em;padding:0 1.2em 0 0;float:right;}

	/* Aside */
	body.multiple #content div.tag-aside{margin:2.8em 0 0;border-top:1.4em solid #f3f3f3;}
	body.multiple #content div.tag-aside div.entry-head{width:10em;float:left;}
	body.multiple #content div.tag-aside .entry-meta{font-size:.75em;padding:0;margin:.8em 0;float:none;}
	body.multiple #content div.tag-aside .entry-title{font-size:1.4em;line-height:1;margin:.5em 0 0;padding:0;border:none;}
	body.multiple #content div.tag-aside .entry-date,body.multiple #content div.tag-aside .entry-time,body.multiple #content div.tag-aside .comments-link,body.multiple #content div.tag-aside .entry-tags{display:none;}

	/* Archives */
	body.page-archive #content,body.page-archives #content{overflow:visible;}

/* Sidebar */
#sidebar{font-size:.875em;}
	#sidebar h3{color:#d7de95;text-transform:lowercase;margin:1em 0 0;}
	#sidebar li.widget{float:left;width:15.5em;}

	/* Fresh Comments */
	#widget-freshcomments a.comment-entry-title{float:left;}
	#widget-freshcomments a.comment-count{float:right;}
	#widget-freshcomments ul.comment-authors{clear:right;font-size:.8571em;}
	#widget-freshcomments ul.comment-authors li{display:inline;padding:0 .4em 0 0;}
	#widget-freshcomments ul.comment-authors a{color:#333;}

	/* Tag Cloud */
	ul.tag-cloud li{height:2em;line-height:2em;padding:0 .4em 0 0;float:left;}

	/* FlickrRSS / FlickrFeed */
	ul.flickr-images li,#widget-flickrfeed ul li{float:left;}
	ul.flickr-images a,#widget-flickrfeed ul a{display:block;padding:.4em;background:#eee;border-width:0 1px 1px 0;border-style:solid;border-color:#ccc;margin:0 .6em .6em 0;}
	ul.flickr-images a:hover,#widget-flickrfeed ul a:hover{background:#c93514;border-color:#ac2e11;}

/* Footer */

/* Hidden Elements */
hr,#search-submit,#respond label{display:none;}

/* General */
.aligncenter{text-align:center;}
.alignleft{text-align:left;}
.alignright{text-align:right;}
.floatleft{float:left;padding-right:1.6875em;}
.floatright{float:right;padding-left:1.6875em;}
.floatleft-nopad{float:left;}
.floatright-nopad{float:right;}
.clear{clear:both;}
label{cursor:pointer;}