html {
	background: #fff;
	color: #000;
	font-size: 0.8em;
	font-family: Menlo, Monaco, Consolas, "Andale Mono", "Courier New", Courier, Monospace;
}

body {
	max-width: 750px;
	margin: 10px auto;
	text-align: left;
}

a:link, a:visited {
	color: #666;
	text-decoration: none;
	border-bottom: 1px dashed #666;
}

a:hover, a:active {
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #000;
}

a img {
	border: 0;
}

#siteinfo {
	float: left;
	width: 40%;
	padding: 0;
	margin: 0;
}

h1 {
	font-weight: normal;
	color: #000;
	padding: 0;
	margin: 0;
}

#tagline {
	font-style: italic;
}

#menu {
	text-align: left;
	list-style-type: none;
	float: left;
	padding: 0;
	clear: both;
}

#menu li {
	float: left;
}

#menu li a, #menu li .current {
	padding: 5px 10px;
	text-decoration:none;
	border: none;
}

#menu li a:hover {
	background: #666;
	color:#fff;
}

#content {
	float: left;
	width: 500px;
	line-height: 1.5;
	clear: both;
}

#content img {
        max-width: 100%;
}

#sidebar {
	float: left;
	margin: 0 auto;
	padding: 0;
	width: 205px;
}

#sidebar .block {
	padding: 0;
}

#sidebar .block ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#sidebar .block h2 {
	font-size: 1.2em;
}

#sidebar br {
	clear: both;
	height: 0;
	width: 0;
}

#footer {
	clear: both;
	padding-top: 15px;
	color: #999;
}

h2 {
	margin-top: 5px;
	margin-bottom: 5px;
}

h2 a {
	font-weight: normal;
}

fieldset {
	width: 720px;
	padding: 15px;
	padding-top: 0;
	margin-top: 20px;
}

label {
	width: 150px;
	max-width: 150px;
	display: block;
	float: left;
}

fieldset input {
	width: 250px;
}

textarea {
	width: 99%;
}

pre, code {
	color: #777;
	overflow: auto;
}

.draft {
	background-color: #efefef;
}

.post {
	padding-top: 20px;
	line-height: 1.5em;
}

.paging {
	margin-top: 20px;
	text-align: center;
}

.paging a.current-page {
	color: #000000;
}

#comments ol {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.response {
	margin-left: 20px;
}

.alt {
	background-color: #eee;
}

.alt a:link, .alt a:visited {
	border-bottom: 1px solid #eee;
}

.alt a:hover, .alt a:active {
	border-bottom: 1px solid #000;
}

.mycomment {
	background-color: #fec;
}

.mycomment a:link, .mycomment a:visited {
	border-bottom: 1px solid #fec;
}

.mycomment a:hover, .mycomment a:active {
	border-bottom: 1px solid #000;
}

.center {
	text-align: center;
}
