/* Reset CSS v2.0 | 20110126 | http://meyerweb.com/eric/tools/css/reset/
--------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Null Theme
--------------------------------------------------------------------------------*/

/* Type settings */
body {font:15px/1.34 Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:700;}
#nameplate .logo {font-size:2em;padding:.67em 0;}
#nameplate .tagline {font-size:1em;font-weight:400;line-height:1.34em;margin-bottom:1.34em;}
h2, article h1, aside h1, nav h1, section h1 {font-size:2.5em;line-height:1.6em;}
h3, article h2, aside h2, nav h2, section h2,
article article h1, article aside h1, article nav h1, article section h1,
aside article h1, aside aside h1, aside nav h1, aside section h1,
nav article h1, nav aside h1, nav nav h1, nav section h1,
section article h1, section aside h1, section nav h1, section section h1 {font-size:2em;line-height:2em;}
h4, article h3, aside h3, nav h3, section h3,
article article h2, article aside h2, article nav h2, article section h2,
aside article h2, aside aside h2, aside nav h2, aside section h2,
nav article h2, nav aside h2, nav nav h2, nav section h2,
section article h2, section aside h2, section nav h2, section section h2,
article article article h3, article article aside h3, article article nav h3, article article section h3,
aside article h3, article aside aside h3, article aside nav h3, article aside section h3,
nav article h3, article nav aside h3, article nav nav h3, article nav section h3,
section article h3, article section aside h3, article section nav h3, article section section h3,
aside article article h3, aside article aside h3, aside article nav h3, aside article section h3,
aside article h3, aside aside aside h3, aside aside nav h3, aside aside section h3,
nav article h3, aside nav aside h3, aside nav nav h3, aside nav section h3,
section article h3, aside section aside h3, aside section nav h3, aside section section h3,
nav article article h3, nav article aside h3, nav article nav h3, nav article section h3,
aside article h3, nav aside aside h3, nav aside nav h3, nav aside section h3,
nav article h3, nav nav aside h3, nav nav nav h3, nav nav section h3,
section article h3, nav section aside h3, nav section nav h3, nav section section h3,
section article article h3, section article aside h3, section article nav h3, section article section h3,
aside article h3, section aside aside h3, section aside nav h3, section aside section h3,
nav article h3, section nav aside h3, section nav nav h3, section nav section h3,
section article h3, section section aside h3, section section nav h3, section section section h3 {font-size:1.5em;line-height:1.78em;}
/* Layout */
/*body {background:-webkit-repeating-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0) 1.34em, rgba(0,0,0,0.01) 1.34em, rgba(0,0,0,0.01) 2.67em);}*/
article, aside, nav, section, #content p {margin-bottom:1.34em;}
[required]::-webkit-input-placeholder {font-weight:700;}
[required]:-moz-placeholder {font-weight:700;}
#wrapper {width:960px;margin:0 auto;}
#mainmenu {background:rgba(0,0,0,0.05);}
#mainmenu li {display:inline;}
#mainmenu a {display:inline-block;padding:0 1em;line-height:2.67em;}
#mainmenu a:hover {background:rgba(0,0,0,0.1);}
#content {width:666px /* 78*7+20*6 */;float:right;}
#posts > article > section, #cf_inputarea {width:470px /* 78*5+20*4 */;float:left;}
#comments > article > section {width:372px /* 78*4+20*3 */;float:left;}
#posts > article > footer,#comments > article > footer, #cf_rules {font-size:.87em;line-height:1.54em;width:176px /* 78*2+20*1 */;float:right;}
.entry-tags li {display:inline;}
.entry-tags li:after {content:', ';}
.entry-tags li:last-child:after {content:'';}
#posts nav {width:470px;}
#posts nav .nav-older {float:left;}
#posts nav .nav-newer {float:right;}
#comments,#comment-public {margin-top:2.67em;}
#comments > article > footer {position:relative;}
#comments .comment-avatar {position:absolute;left:-60px;}
#cf_rules li {margin-bottom:1.54em;}
#comment-public legend {font-weight:700;font-size:2em;line-height:2em;}
#comment-public label {display:none;}
#comment-public textarea {height:142px /* 20*8-18 */;width:452px /* 78*5+20*4-18 */;max-width:452px}
#comment-public textarea,#comment-public input{padding:.6em;margin:0;border:1px solid rgba(0,0,0,0.2);}
#comment-public textarea:focus,#comment-public input:focus{border:1px solid #69f;outline:0;box-shadow:0 0 5px #69f;}
#comment-public .comment_name,#comment-public .comment_email,#comment-public .comment_url {display:inline;}
#comment-public input {width:138px /* (78*5+20*4)/3-18 */;}
#sidebar {width:274px /* 78*3+20*2 */;float:left;}
#sidebar .block {margin-top:1.34em;}
#s {width:200px;}
#searchsubmit {display:none;}
footer[role="contentinfo"] {clear:both;padding:2.67em 0;text-align:center;}
/* Clear fix */
#content, #posts > article, #posts nav, #comments > article, #comment-public, #sidebar {zoom:1;}
#content:after, #posts > article:after, #comments > article:after, #posts nav:before, #posts nav:after, #comment-public:after, #sidebar:after {clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0;}
/* Blocks */
.block-type-flickrfeed li.flickr-image {display:inline;}
.block-type-freshcomments .comment-entry-title {font-weight:700;}
.block-type-freshcomments .comment-count {float:right;}
.block-type-freshcomments .comment-authors li {display:inline;}
.block-type-freshcomments .comment-authors li:after {content:', ';}
.block-type-freshcomments .comment-authors li:last-child:after {content:'';}
