/*  Colors 

background: #810202
content background: #e4b109

*/

/* @group Resets - from Eric Myer's Reset CSS http://meyerweb.com/eric/tools/css/reset/index.html  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* @end */

body {
	background: #570100;
	color: #000;
	font: 76%/1.6 "Century Gothic", "Apple Gothic", sans-serif;
}

.clear {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

img.right {
	border: 1px solid #D5CDCC;
	margin-left: 12px;
	padding: 4px;
}

img.left {
	border: 1px solid #D4CDCC;
	margin-right: 12px;
	padding: 4px;
}

/* @group Headings */

h1 {
	font: 2.4em Cambria, Georgia, "Times New Roman", serif;
}

h1#title {
	margin-left: 60px;
}

h2,h3,h4,h5 {
	font-family: Palatino, "Palatino Linotype", Georgia, Times, "Times New Roman", serif;
}

h1 a, h2 a {
	text-decoration: none;
	color: #910003;
}

h2 a:hover {
	color: #944500;
}

.entry h2 {
	font-size: 1.8em;
}

h2.pageTitle {
	font-size: 1.6em;
	padding-left: 75px;
}

#secondaryContent h2 {
	
	font-size: 1.5em;
	font-style: italic;
}

h2#navi {
	background: url(images/nav.png) center right no-repeat;
	padding-right: 75px;
	margin-top: 30px;
	height: 64px;
	line-height:3.2;
}



h2#syndicate {
	background: url(images/subscribe.png) center right no-repeat;
	padding-right: 75px;
	margin-top: 30px;
	height: 64px;
	line-height:3.2;
}

#twitter h2 {
	background: url(images/twitter.png) center right no-repeat;
	padding-right: 75px;
	margin-top: 30px;
	height: 64px;
	line-height:3.2;
}

h2#month_archive {
	background: url(images/archive.png) center right no-repeat;
	padding-right: 75px;
	margin-top: 30px;
	height: 64px;
	line-height:3.2;
}

#comments h3.commentheading {
	margin: 5px 0 0 180px;
	font-size: 1.5em;
}

h3.form_heading {
	font-size: 1.5em;
}


/* @end */

/* @group Links */

a {
	color:#910003;
}

a .more {
	text-decoration: none;
}

/* @end */


#masthead {
	background: url(images/masthead.jpg) no-repeat;
	width: 768px;
	height: 46px;
}

#wrapper {
	width: 950px;
	margin: 5px auto;
}

#content {
	background: url(images/body_bg.jpg) repeat-y;
	overflow: hidden;
	width: 950px;
	padding: 0 0 0 42px;
	font-size: 1.1em;
	color: #67514C;
}

#primaryContent {
	width: 720px;
	float: left;
}

.entry {
	float: right;
	width: 520px;
	margin: 0 25px 0 0;
}

.entryContent {
	border-top: 1px solid #D4CDCC;
	border-left: 1px solid #D4CDCC;
	padding: 6px 10px;
}

.entryContent p {
	margin: 1em 0;
}

.entryPage {
	margin: 0 0 0 35px;
	width: 520px;
}

.more {
	margin-top: 15px;
	height: 32px;
	display: block;
	font-weight: 700;
	padding-left: 35px;
	background: url(images/more.png) no-repeat;}

.entryMeta {
	float: left;
	width: 155px;
	margin: 10px 10px 0 10px;
	font-size: .8em;
	text-align: center;
	color: #944500;
	background: url(images/meta.png) no-repeat top center;
}

.entryMeta>p:first-child {
	margin-top: 25px;
}

.divider {
	height: 36px;
	width: 89px;
	margin: 10px auto;
	padding-top: 30px;
}

#primaryContent .divider:last-child {
	height: 0;
}

#pagenav {
	margin-left: 175px;
}

#secondaryContent {
	width: 165px;
	float: right;
	color: #FEEFB5;
	margin-right: 50px;
	padding-bottom: 25px;
}

#secondaryContent ul {
	margin-bottom: 18px;
}

#tagline {
	text-align: center;
	background: url(images/pen_and_ink.png) no-repeat top center;
	padding-top: 170px;
	margin: 15px 0 0 0;
}

ul#nav {
	margin-left: 20px;
}

ul#nav li {
	padding:0 0 6px 22px;
	background: url(images/bullet_bee.png) no-repeat;
	height: 16px;
	line-height: 1.6;	
}

ul#subscribe {
	padding-bottom: 6px;
	line-height: 1.6;
}

ul#subscribe a {
	color: #fff;
	text-decoration: none;
}

ul#subscribe a:hover {
	color:#668ACC;
}

#twitter {
	margin-bottom: 35px;
}

ul#recentcomments li {
	padding:0 0 8px 8px;
}

#footer {
	background: url(images/footer.jpg) no-repeat;
	width: 768px;
	height: 58px;
	clear: both;
}

#footer p {
	margin-left:60px;
	padding-top: 20px;
}

#comments {
	
}

.comment-content {
	float: right;
	width: 515px;
	margin: 0 25px 20px 0;
	padding-left: 6px;
	border-left: 1px solid #D4CDCC;
}

.comment-meta {
	float: left;
	width: 150px;
	margin: 5px 10px 0 10px;
	font-size: .8em;
}

ul#commentlist li {
	padding-bottom: 20px;
}

.comment-content {
	min-height: 65px;
}

ul#commentlist li.author {
	}

#comments_form {
	margin: 30px 25px 0 45px;
	width: 550px;
}

#comments_form fieldset {
	margin-bottom: 25px;
	border-top: 1px solid #67514C;
	padding: 8px;
}

#comments_form legend {
	margin: 0 0 12px 15px;
	font-size: 1.4em;
}

#comments_form label {
	width: 110px;
	display: block;
	font-weight: 700;
}

#comments_form input {
	width: 225px;
}

#commentContent {
	width: 400px;
	height: 200px;
}

#commenter_info .formcontrol {
	padding-bottom: 8px;
}

#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #944500;
	background-color: #F3C890;
	padding: 5px;
	opacity: 0.85;
}
#tooltip h3, #tooltip div { margin: 0; }
