/* Reset CSS v1.0 | 20080212 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{background:transparent;border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}:focus{outline:0;}ins{text-decoration:none;}del{text-decoration:line-through;}table{border-collapse:collapse;border-spacing:0;}

/* Layout */
body{text-align:center;background:#fff url(images/body.png) repeat-x 0 -95px;}
body.home{background-position:0 0;}
#container{width:940px;text-align:left;margin:0 auto;background:url(images/container.png) repeat-y 100% 0;}
	#header{background:#fff url(images/body.png) 0 -95px repeat-x;padding:1.55em 0;}
	body.home #header{background:url(images/header.png) no-repeat 540px 0;padding:0;}
	#content{float:left;width:510px;text-align:left;overflow:hidden;}
		#comments div.comment-content{margin:0 25px;}
	#sidebar{float:right;width:400px;margin-top:-2.75em;padding-top:1.5em;background:#dae8f2 url(images/sidebar.png) repeat-x;overflow:hidden;}
	body.home #sidebar{margin-top:-4.5em;padding-top:3em;}
		#sidebar-1,#sidebar-2{width:200px;}
		#sidebar-1{float:left;}
		#sidebar-2{float:right;}
			#sidebar li.widget{background:#dae8f2 url(images/sidebar.png) 0 1.5em repeat-x;}

/* Typography */
body{color:#222;line-height:1.6875;font-family:Calibri,"Segoe UI",Tahoma,sans-serif;}
a{color:#c41;text-decoration:none;}
a:hover{text-decoration:underline;}
h1,h2,h3,h4,h5,h6,#site-name,#nav,div.entry-date,div.download{font-family:Constantia,Georgia,serif;text-align:left;}
h1,h2,h3{font-size:2em;letter-spacing:-.05em;font-weight:400;}
h4{font-size:1.5em;line-height:1.125;font-weight:400;}
sub,sup{font-size:.75em;line-height:1;}
sub{vertical-align:sub;}
sup{vertical-align:super;}
input,select,option,textarea{font-family:Calibri,"Segoe UI",Tahoma,sans-serif;}
code{font:.875em/1.92857 Consolas,"Bitstream Vera Sans Mono",Monaco,"Courier New",monospace;}
blockquote{margin:0 25px 1.6875em;padding:.84375em 0;font-style:italic;}
#content blockquote p,#content li p{margin-bottom:0;}
.alt{font-style:italic;}

	/* Google Code Prettify */
	pre.prettyprint{background:#eef0f2;overflow:auto;padding:.84375em !important;border:0 !important;}
	pre.prettyprint code{line-height:1.28571;}
	pre.prettyprint span.str{color:#a07040;}
	pre.prettyprint span.kwd{color:#007020;}
	pre.prettyprint span.com{color:#a0b0c0;font-style:italic;}
	pre.prettyprint span.typ{color:#bf8300;font-weight:700;}
	pre.prettyprint span.lit{color:#a14040;}
	pre.prettyprint span.pun{color:#4f4a3f;}
	pre.prettyprint span.pln{color:#404850;}
	pre.prettyprint span.tag{color:#1060a0;}
	pre.prettyprint span.atn{color:#1060a0;}
	pre.prettyprint span.atv{color:#a07040;}
	pre.prettyprint span.dec{color:#408010;font-style:italic;}

/* List */
#content ul,#content ol{margin:.84375em 0;padding:0 0 0 2.3625em;}
#content ul,#content ol ul,#content ol ol ul,#content ol ol ol ul{list-style-type:square;}
#content ul ul,#content ol ul ul,#content ul ol ul,#content ol ol ul ul,#content ol ul ol ul,#content ul ol ol ul{list-style-type:disc;}
#content ul ul ul,#content ul ul ol ul,#content ul ol ul ul,#content ol ul ul ul,#content ul ul ul ul{list-style-type:circle;}
#content ol,#content ul ol,#content ul ul ol,#content ul ul ul ol{list-style-type:decimal;}
#content ol ol,#content ol ul ol,#content ul ol ol,#content ul ul ol ol,#content ul ol ul ol,#content ol ul ul ol{list-style-type:lower-alpha;}
#content ol ol ol,#content ol ol ul ol,#content ol ul ol ol,#content ul ol ol ol{list-style-type:lower-roman;}
#content ol ol ol ol{list-style-type:lower-greek;}

/* Header */
h1#site-name{background:url(images/h1.png) no-repeat;}
h1#site-name a{text-indent:-9999px;display:block;width:510px;height:108px;}
#nav li{display:inline;font-size:1.125em;line-height:3;padding:1em 0 1em .5em;}
	#nav li a{color:#aa7;text-transform:uppercase;letter-spacing:.1em;padding:1em .5em 1em 0;}
	#nav li a:hover{color:#c41;text-decoration:none;}
body.home #nav li.nav-home,
body.archive #nav li.nav-archive,
body.entry #nav li.nav-archive,
body.page-archive #nav li.nav-archive,
body.page-colophon #nav li.nav-colophon,
body.page-contact #nav li.nav-contact,
body.page-archives #nav li.nav-archives
	{background:url(images/nav-r.png) no-repeat 0 50%;}
	body.home #nav li.nav-home a,
	body.archive #nav li.nav-archive a,
	body.entry #nav li.nav-archive a,
	body.page-archive #nav li.nav-archive a,
	body.page-colophon #nav li.nav-colophon a,
	body.page-contact #nav li.nav-contact a,
	body.page-archives #nav li.nav-archives a
		{color:#fff;background:url(images/nav-l.png) no-repeat 100% 50%;}
/* Header.NotHome */
li#site-name{font-size:2em;line-height:1.6875;padding:0;}
	li#site-name a{text-transform:none;letter-spacing:-.05em;}
#nav ul{display:inline;}
	#nav li li{font-size:.5625em;padding-right:.5em;}
	#nav li li a{text-transform:none;letter-spacing:0;}


/* Content */
#content{text-align:justify;}
#content h1{margin-bottom:.84375em;}
#content div.draft{background:url(images/draft.png) repeat-y 50% 50%;}
#content div.private{background:url(images/private.png) repeat-y 50% 50%;}
#content p,#content pre,#content img,#content dl,#content ol,#content ul,#content table,div.entry-head{margin-bottom:1.6875em}
div.entry-date{float:left;padding:0 .6em;background:#f2c200;letter-spacing:-.05em;}
.entry-title a{color:#fff;display:block;float:left;padding:0 .3em;background:#555}
span.comments-link,span.entry-tags,span.entry-edit{font-size:.75em;line-height:2.25;padding-left:2.5em;background:url(images/comments-link.png) no-repeat .75em 50%;}
span.entry-tags{background-image:url(images/entry-tags.png);}
span.entry-edit{background-image:url(images/entry-edit.png);}
div.entry-content blockquote{margin:0 0 .84375em;padding:.84375em 25px 1.6875em;background:#eed url(images/blockquote.png) no-repeat 0 100%;}
div.entry-content hr{display:block;background:#f2c200;color:#f2c200;clear:both;float:none;width:100%;height:.125em;margin:0 0 1.5em 0;*margin:0 0 .6875em 0;border:none;}
#pager{font-size:.75em;height:4.5em}
	#pager a{line-height:2.25;padding:0 .25em;}
	#pager a.prev{float:left;padding-left:2em;background:url(images/prev.png) no-repeat 0 50%;}
	#pager a.next{float:right;padding-right:2em;background:url(images/next.png) no-repeat 100% 50%;}
#page-selector{height:3.375em}
	#page-selector a{padding:0 .33333em;}
	#page-selector a.current-page{background:#c41;color:#fff;}

	/* Aside */
	body.multiple div.tag-edge div.entry-head br.clear,body.multiple div.tag-aside div.entry-head br.clear{display:none;}
	body.multiple div.tag-edge .entry-title a,body.multiple div.tag-aside .entry-title a{color:#c41;display:inline;padding:0 .48em;background:transparent;}
	body.multiple div.tag-edge h1,div.tag-edge h2,body.multiple div.tag-aside h1,div.tag-aside h2{font-size:1.25em;line-height:1.35;}
	body.multiple div.tag-edge span.comments-link,body.multiple div.tag-edge span.entry-tags,body.multiple div.tag-aside span.comments-link,body.multiple div.tag-aside span.entry-tags{display:none;}

	/* Footnotes */
	div.footnotes{font-size:.875em;line-height:1.92857;margin:3.85714em 0 2.7em;}
		div.footnotes hr{margin:0 0 .96429em 2em;*margin:0 0 .03572em 2em;text-align:left;width:66%;}
		div.footnotes ol{list-style-type:decimal;margin:0;padding:0 0 0 2em;}

	/* Downloads */
	div.download{margin:0 25px 1.6875em;padding:.84375em 0;text-align:left;}
	div.download{padding-left:4em;}
		div.download a{font-size:1.5em;line-height:1.125;display:block;margin-left:-2em;padding-left:2em;background:url(images/download.png) no-repeat 0 100%;}

	/* Comments & Respond */
	#comments,#respond{clear:both;background:#eed;margin-bottom:1.6875em;}
		#comments h2,#respond h2{color:#fff;padding:.875em 0 0;background:#555;zoom:1;}
			#comments h2 span.comment-count,#respond h2 span{color:#222;background:#f2c200 url(images/comments.png) no-repeat 25% 75%;padding:.875em .3em 0 0;margin:-.875em .3em 0 0;display:block;float:left;text-align:right;width:2.23125em;}
			#respond h2 span{background-image:url(images/respond.png);padding:0;width:2.53125em;height:2.565em}
		ul#comment-list,ul#pingback-list,#respond fieldset{margin:.84375em 0 0;padding:0;list-style-type:none;}
		#pingback-list{padding:0 25px;}
			#comment-list li p{margin-bottom:1.6875em;}
			#comment-list div.comment-author{color:#444;font-size:.75em;line-height:2.25;font-style:italic;margin:-1.2em 0 1.25em;padding:1.66667em 25px 0 33px;background:#ddb url(images/comment-stalk.png) no-repeat 49px 0;zoom:1;}
				#comment-list div.comment-author span.n{font-style:normal;font-weight:700;font-size:1.33333em;}
				#comment-list div.comment-author img{height:32px;width:32px;vertical-align:middle;margin:0 .5em 0 0;}
			#comment-list li.author div.comment-author{background-color:#c41;color:#f2c200;}
				#comment-list li.author div.comment-author a{color:#f2c200;}
				#comment-list li.author div.comment-author span.n{font-style:normal;color:#f2c200;}
	#respond{padding:0 0 .9625em;}
		#respond div{clear:both;}
			#respond label.name,#respond label.email,#respond label.url{background:url(images/respond-name.png) no-repeat 80% 50%;text-indent:-9999px;display:block;width:5.0625em;height:3.375em;float:left;}
			#respond label.email{background-image:url(images/respond-email.png);}
			#respond label.url{background-image:url(images/respond-url.png);}
			#respond input.text{font-size:1em;background:#fff;border:1px inset #aa7;margin:.725em 0;width:392px;*height:1.8em;line-height:1.8;padding:.3em;*padding:0 .3em;}
			#respond textarea{font-size:1em;background:#fff;border:1px inset #aa7;margin:.725em 0 .725em 5.0625em;width:392px;height:10.54688em;line-height:1.8;padding:.3em;*padding:0 .3em;}
			#respond p.moderation-notice{margin:.725em 1.6em .725em 5.0625em;}
				#submit{font-size:1em;margin:.725em 0 .725em 5.0625em;padding:0 1em;}

	/* Archives */
	body.page-archive #content,body.page-archives #content{overflow:visible;}

/* Sidebar */
#sidebar{font-size:.75em;}
	#sidebar *{line-height:1.5;}
	#sidebar h3{color:#fff;letter-spacing:-.05em;margin-bottom:.75em;background:#27b;zoom:1;}
	/*#sidebar a{color:#27b;}*/
		#sidebar-1 li.widget,#sidebar-2 li.widget{margin:0 0 3em;}
		#sidebar-1 h3,#sidebar-1 p,#sidebar-1 ol,#sidebar-1 ul{padding:0 15px 0 25px;}
		#sidebar-2 h3,#sidebar-2 p,#sidebar-2 ol,#sidebar-2 ul{padding:0 25px 0 15px;}
	/* Fresh Comments */
	#widget-freshcomments a.comment-entry-title{float:left;}
	#widget-freshcomments a.comment-count{float:right;}
	#widget-freshcomments ul.comment-authors{clear:right;padding:0;}
	#widget-freshcomments ul.comment-authors li{display:inline;padding:0 .4em 0 0;}
	#widget-freshcomments ul.comment-authors a{color:#333;}
	/* Tag Cloud */
	#widget-tagcloud ul.tag-cloud{text-align:center;}
	#widget-tagcloud ul.tag-cloud li{display:inline;padding:0 .4em 0 0;}
	#widget-tagcloud ul.tag-cloud a{line-height:.8em;}
	/* FlickrRSS / FlickrFeed */
	#widget-flickrrss ul.flickr-images li,#widget-flickrfeed ul li{display:inline;padding:0 0 .84375em;}
	#widget-flickrrss ul.flickr-images img,#widget-flickrfeed ul img{border:1px solid #333;width:148px;}
	#widget-flickrrss ul.flickr-images img:hover,#widget-flickrfeed ul img:hover{border:1px solid #c41;}

/* Search Form */
#search-form{padding:1.1833em 25px;}
	#criteria{font-size:1em;border:1px inset #9bd;width:339px;*height:1.8em;line-height:1.8;padding:.3em;*padding:0 .3em;margin: 0}

/* Footer */
#footer{font-size:.75em;line-height:2.25;color:#fff;width:460px;height:4.5em;padding:2.25em 25px 4.5em;background:#444}
	#footer a{color:#f2c200;font-weight:700;}
	#footer a:hover{color:#fff;}

/* Hidden Elements */
hr,#header p.tagline,#search-form h3,#search-submit,#respond label.content{display:none;}

/* General */
div.entry-content div img{border:5px solid #222;}
.aligncenter{text-align:center;}
.alignleft{text-align:left;}
.alignright{text-align:right;}
.floatleft{float:left;padding-right:1.6875em;}
.floatright{float:right;padding-left:1.6875em;}
.floatleft-nopad{float:left;}
.floatright-nopad{float:right;}
.clear{clear:both;}
label{cursor:pointer;}